body {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-perspective:800;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(bottom, rgb(174,175,181) 2%, rgb(237,239,247) 18%, rgb(255,255,255) 78%);
  background-image: -o-linear-gradient(bottom, rgb(174,175,181) 2%, rgb(237,239,247) 18%, rgb(255,255,255) 78%);
  background-image: -moz-linear-gradient(bottom, rgb(174,175,181) 2%, rgb(237,239,247) 18%, rgb(255,255,255) 78%);
  background-image: -webkit-linear-gradient(bottom, rgb(174,175,181) 2%, rgb(237,239,247) 18%, rgb(255,255,255) 78%);
  background-image: -ms-linear-gradient(bottom, rgb(174,175,181) 2%, rgb(237,239,247) 18%, rgb(255,255,255) 78%);
  background-color: white;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

.logo {
  font-family: 'alef';
  font-weight: lighter;
  font-size: 54px;
}

.intro {
  font-size: 36px;
  color: gray;
}

img{
  box-shadow: 0 0 8px 3px gray;
  border-radius: 1px;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 10px;
  margin-right: 10px;
}

text{
  font-family: inherit;
}

.content {
  -webkit-perspective:800;
  padding-left: 10%;
  padding-top: 5%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ul {
  -webkit-perspective:800;
  color: gray;
  font-size: 22px;
  margin-top: 0;
}

li {
  -webkit-perspective:800;
  margin-bottom: 0.25em;
}

strong{
  color: black;
}

html {
   min-height: 100%;
}

