 .sign-in-container .logo{
  position:relative;
  top: 90px;
  width: 120px;
  left:50%;
  margin-left: -60px;
}

.sign-in-container img {
  top:180px;
  position:relative;
  width: 140px;
  left:50%;
  margin-left: -70px;
}

.sign-in-container {
  background-color: black
}

body {
  background: rgb(76,76,76); /* Old browsers */
}

h1, h2, h3 {
  position:relative;
  top:150px;
  font-family: arial;
  text-align: center;
  font-weight: 100;
  color:white;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 13px;
}

.login-page div{
  top: 100px;
  width: 300px;
  height: 400px;
  border: solid;
  margin-left: -150px;
  border-color: white;
  position:absolute;
  left:50%;
  border-width: 1px;
  border-radius: 1em;
}
