.user-view{
  background-color: white;
  position: relative;
  left: 20px;
  min-width: 120px;
  max-width: 50%;
  border-style: solid;
  margin: 5px 5px 5px 5px;
  border-radius: .5em;
  border-color: #8aaacc;
  border-width: 2px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
.app-view{
  border-bottom-style: solid;
  border-bottom-color: black;
  position:relative;
  top: 50px;
}

.hierarchy-view{
  position:relative;
  top: 50px;
}

input[type="text"]{
  width: 100px;
  display: inline;
  border: none;
  box-shadow: none;
  margin-bottom: 2px;

}

input[type="email"] {
  width: 100px;
  font-size: 12px;
  border: none;
  box-shadow: none;
  margin-bottom: 2px;

}

span {
  position: relative;
  top:50px;
}

input[type="tel"] {
  margin-bottom: 2px;
  width: 100px;
  font-size: 12px;
  border: none;
  box-shadow: none;
}

data {
  display:none;
}
.user-view img {
  float: left;
  width: 80px;
  height: 80px;
  padding-bottom: 5px;
}
