body {
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 0;
}

span {
  font-family: 'Alef', sans-serif;
  font-weight: 200;
  color: gray;
  font-size: 24px;
  position:relative;
  padding: 10px 10px 10px 15px;
}

header {
  width: 100%
  position:absolute;
  background-color: black;
  border-bottom-style: solid;
  border-bottom-color: gray;

  border-bottom-width: 1px;

}

.user-view {
  -webkit-transform-style: preserve-3d;
  background-color: #dce0e4;
  position: absolute;
  min-width: 110px;
  max-width: 50%;
  border-style: solid;
  margin: 5px 5px 5px 5px;
  border-radius: .5em;
  border-color: #8aaacc;
  border-width: 2px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.flat-view{
  -webkit-transform-style: preserve-3d;
  -webkit-perspective:800;
  position:relative;

}

.hierarchy-view{
  top:100px;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective:800;
  position:relative;
}

.dolly-view{
  -webkit-transform-style: preserve-3d;
  -webkit-perspective:800;
  position:relative;
}

.camera-view{
  -webkit-transform-style: preserve-3d;
  -webkit-perspective:800;
  position:relative;
}

.user-view input[type="text"]{
  width: 100px;
  display: inline;
  background-color: inherit;
  border: none;
  box-shadow: none;
  margin-bottom: 2px;
}


.user-view input[type="email"] {
  width: 100px;
  font-size: 10px;
  border: none;
  background-color: inherit;

  box-shadow: none;
  margin-bottom: 2px;
}

.user-view  input[type="tel"] {
  margin-bottom: 2px;
  background-color: inherit;
  width: 100px;
  font-size: 10px;
  border: none;
  box-shadow: none;
}

data {
  display:none;
}

.user-view img {
  float: left;
  width: 80px;
  height: 80px;
  padding-bottom: 5px;
}

.reflected-hierarchy-view
{
   top:100px;
   width:1200px;
   height:750px;
  -webkit-perspective:800;
  position:absolute;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, transparent), color-stop(1.0, rgba(255, 255, 255, 0.5)));
}


